@charset "UTF-8";

* {
    background: rgb(55, 6, 251);
    background-image: linear-gradient(90deg, #9508c1, #ec06f8, #b072df);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: -webkit-fill-available;
    background-position: center;
    background-size: cover;
    color: white;
}

.main_check {
    width: 100%;
    height: auto;
    padding: 0;
    /* position: fixed; */
    border-top: 3px solid white;
}

.main_user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 17em;
    margin-right: 1em;
    /* border: 3px solid black; */
}

.check_report {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: 3px solid rgb(51, 8, 241); */
}

.create_report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    width: auto;
    /* border: 3px solid rgb(23, 22, 22); */
}

.welcome_report {
    background: transparent;
}

.post_user {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-right: 2em;
    width: auto;
    /* border: 3px solid rgb(247, 7, 7); */
}

.post_check {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: 3px solid rgb(51, 8, 241); */
}

.second_check {
    display: block;
    width: auto;
    height: auto;
    overflow-y: auto;
    background: linear-gradient(45deg, rgba(100, 3, 246, 0.979), rgba(4, 187, 254, 0.8), rgba(4, 150, 254, 0.8));
    border-top: 3px solid rgb(18, 18, 18);
    border-bottom: 3px solid rgb(250, 217, 5);
    box-shadow: 1px 1px 9px 12px rgb(1, 248, 1);
}

.third_check {
    width: 100%;
    height: 74vh;
    overflow-y: auto;
    background: none;
    color: white;
    border-top: 3px solid rgb(244, 235, 240);
    border-bottom: 3px solid rgb(244, 235, 240);

}

.fourth_check {
    width: 100%;
    height: auto;
    font-size: 22px;
    color: white;
    background: none;
    /* border: 4px solid black; */
}

.fifth_check {

    position: relative;
    min-width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.5em;
    padding-left: 0em;
    line-height: 2em;
    font-size: 18px;
    transition: 0.5s;
    background: rgb(63, 6, 249);
    border-top: 2px solid rgb(240, 233, 10);
    border-bottom: 3px solid rgb(226, 226, 235);
    /* border: 4px solid rgb(250, 7, 7); */

}

.fifth_check:hover {
    transition: 0.5s;
    color: blue;
    background: rgb(5, 236, 5);

}

.sixth_check {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 18px;
    color: blue;
    background: white;
    text-decoration: none;
    transition: 0.8s;
    border: 3px solid rgb(255, 47, 82);
    border-radius: 10px;
}

.sixth_check:hover {
    transition: 0.8s;
    color: white;
    background: rgb(194, 24, 246);
    border: 3px solid yellow;
    border-radius: 10px;
}


h1 {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(45deg, rgba(4, 200, 254, 0.8), rgba(46, 4, 254, 0.8), rgba(233, 4, 254, 0.8), rgba(254, 8, 4, 0.8), rgba(233, 4, 254, 0.8), rgba(46, 4, 254, 0.8), rgba(4, 200, 254, 0.8));
    color: white;
    box-shadow: 1px 1px 9px 9px white;
    /* border: 4px solid black; */
}

h2 {
    font-size: 18px;
    text-align: center;
    background: transparent;
    /* text-shadow: 0 0 8px, 0 0 16px, 0 0 24px, 0 0 32px; */
    /* border: 3px solid rgb(247, 7, 7); */
}

.new_user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(244, 235, 235);
    font-size: 32px;
    width: auto;
    height: auto;
    font-weight: bold;
    background: blueviolet;

}

.check_usersp {
    color: rgb(0, 255, 81);
    padding: 0.3em;
    background: transparent;
    /* border: 3px solid black; */
}

.create_data {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
    background: rgb(215, 240, 176);
    border-top: 3px solid rgb(15, 247, 7);
}

.create_submit {
    cursor: pointer;
    background: rgb(133, 6, 251);
    color: rgb(228, 213, 10);
    font-size: 22px;
    padding: 0.3em;
    margin-left: 6em;
    transition: 0.6s;
    box-shadow: 1px 1px 9px 9px rgb(4, 246, 92);
}

.create_submit:hover {
    color: white;
    box-shadow: 1px 1px 9px 9px white;
    transition: 0.6s;
}

button {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 8px;
    border: 3px solid rgb(250, 247, 250);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background: rgb(149, 241, 11);
    transition: 0.8s;
    color: blue;
}

button:hover {
    background: rgb(226, 11, 241);
    color: rgb(239, 239, 243);
    transition: 0.8s;
    border: 3px solid rgb(5, 243, 69);
    box-shadow: 1px 1px 9px 9px rgb(239, 239, 243);
}

.signin_button {
    cursor: pointer;
    background: rgb(55, 6, 251);
    color: rgb(4, 246, 92);
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em;
    box-shadow: 1px 1px 9px 9px rgb(4, 246, 92);
    transition: 0.6s;
}

.signin_button:hover {
    transition: 0.6s;
    color: white;
    background: rgb(210, 6, 251);
    box-shadow: 1px 1px 9px 9px white;
}

.signup_main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 3px solid black; */
}

.signup_button {
    margin-left: 1em;
    cursor: pointer;
    background: rgb(55, 6, 251);
    color: rgb(246, 214, 4);
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em;
    box-shadow: 1px 1px 9px 9px rgb(4, 246, 92);
    transition: 0.6s;
}

.signup_button:hover {
    transition: 0.6s;
    color: white;
    background: rgb(210, 6, 251);
    box-shadow: 1px 1px 9px 9px white;

}

.upload_pic {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 4px;
    box-shadow: 1px 1px 9px 9px rgb(4, 246, 92);
}

.main_images {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

img {
    border: 3px solid lime;
}

.postcheck {
    padding-left: 4px;
    background: rgb(207, 6, 243);
    border: 2px solid lime;
}

.postcheck_down {
    font-size: 24px;
    background: rgb(207, 6, 243);
}

.image_set {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: rgb(129, 239, 11);
    border: 3px solid black;
}

.image_postcheck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(129, 239, 11);
    /* border: 6px solid black; */
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    /* border: 3px solid black; */
}

.under_search {
    width: auto;
    background: transparent;
    /* border: 3px solid black; */
}

.read_details {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    padding: 0;
    color: rgb(236, 235, 243);
    /* border: 3px solid black; */
}

.sign_buttons {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /* border: 3px solid black; */
}